{{- if .Values.istio.destinationRule.enabled -}}
{{- $fullName := include "istio-sidecar-with-gatewayapi.fullname" . -}}
{{- $defaultHost := printf "%s.%s.svc.cluster.local" $fullName .Release.Namespace -}}
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "istio-sidecar-with-gatewayapi.labels" . | nindent 4 }}
spec:
  host: {{ .Values.istio.destinationRule.host | default $defaultHost | quote }}
  {{- with .Values.istio.destinationRule.trafficPolicy }}
  {{- if gt (len .) 0 }}
  trafficPolicy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
{{- end }}
