{{- if .Values.httpRoute.enabled -}}
{{- $fullName := include "istio-ambient-with-gatewayapi.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- $defaultParentRef := dict "name" (printf "%s-gateway" $fullName) "sectionName" "http" -}}
{{- $parentRefs := .Values.httpRoute.parentRefs -}}
{{- if .Values.gateway.enabled -}}
{{- $parentRefs = ($parentRefs | default (list $defaultParentRef)) -}}
{{- else -}}
{{- $parentRefs = required "httpRoute.parentRefs is required when gateway.enabled=false" $parentRefs -}}
{{- end -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "istio-ambient-with-gatewayapi.labels" . | nindent 4 }}
  {{- with .Values.httpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  parentRefs:
    {{- toYaml $parentRefs | nindent 4 }}
  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    {{- range .Values.httpRoute.rules }}
    {{- with .matches }}
    - matches:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .filters }}
      filters:
      {{- toYaml . | nindent 8 }}
    {{- end }}
      backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
          weight: 1
    {{- end }}
{{- end }}
